@use '<%=igxPackage%>/theming' as *;
$grid-sample-theme: grid-theme(
  $row-selected-background: #333,
  $row-selected-text-color: #ddd,
  $row-hover-background: #f8f8f8,
  $row-border-color: #f8f8f8,
  $cell-selected-background:
    color(
      $color: "gray",
      $variant: 800,
    ),
  $cell-selected-text-color: #fff,
);

$progressBar-sample-theme: progress-linear-theme(
  $track-color: rgba(181, 181, 181, 0.5),
  $fill-color-default: orange,
);

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  ::ng-deep {
    .igx-sparkline {
      margin-top: 20px;
      margin-bottom: -10px;
    }

    .s-overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 10002;

      &__inner {
        @extend %flex-center;
        flex-direction: column;
        border-radius: rem(16px);
        min-width: rem(340px);
        overflow: hidden;
        background: #fff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.16);
      }

      &__heading {
        @extend %flex-center;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: rem(16px);
        margin-top: rem(24);
        font-size: rem(28px);
        height: rem(70px);
        padding: 0 rem(24px);
        letter-spacing: 2px;
        border-bottom: 1px solid #ddd;

        &--finish {
          border-bottom: none;
          margin-top: 0;
          font-style: italic;
          background-color: white;
          background-image: linear-gradient(45deg, #222 25%, transparent 25%),
            linear-gradient(-45deg, #222 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #222 75%),
            linear-gradient(-45deg, transparent 75%, #222 75%);
          background-size: 20px 20px;
          background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
        }

        > span {
          padding: rem(8px);
          background: #fff;
          margin: 0 rem(8px);

          > span {
            margin: 0 rem(8px);
          }
        }
      }

      &__trophy {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: rem(16px);

        img {
          width: 40px;
        }

        span {
          position: absolute;
          top: 2px;
          color: #fff;
          text-shadow: 0 0 8px #444;
          font-weight: bold;
        }
      }

      &__players {
        @extend %flex-center;
        padding: rem(24px);
      }

      &__player {
        @extend %flex-center;
        flex-direction: column;
        margin: 0 rem(32px);
        width: 120px;

        igx-avatar {
          margin-bottom: rem(16px);
        }
        &--winner {
          order: 2;
          igx-avatar {
            border: 4px solid #fbb13c;
          }
        }
        &--second {
          order: 1;
          igx-avatar {
            border: 4px solid #bdbdbd;
          }
        }
        &--third {
          order: 3;
          igx-avatar {
            border: 4px solid #b47845;
          }
        }
      }

      &__player-name {
        color: color($color: "primary", $variant: 800);
        font-size: 18px;
        margin: 0;
        white-space: nowrap;
      }
    }

    .s-overlay__player.s-overlay__player--winner {
      margin-bottom: rem(48px);
    }
    width: 95%;
  }
}

.grid__wrapper {
  margin: 0 auto;
  padding: 16px;
}

@media (max-width: 1000px) {
  .grid__wrapper {
    width: 98% !important;
    margin: 0 auto;
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media (max-width: 720px) {
  .grid__wrapper {
    width: 720px !important;
    margin: 0 3px;
    padding-right: 5px;
  }
}

.switch-sample__title {
  margin: 0 rem(20px) 0 0;
}

.sample__header {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: rem(20px);
}

.switch-sample {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: rem(50px);
}

.switch-sample__label {
  margin: 0 rem(8) 0 0;
}

.athlete_name {
  width: rem(100px);
  margin: 0 rem(30px);
}

.athlete_name,
.title {
  @include ellipsis();
}

.cell__inner,
.cell__inner_2 {
  display: flex;
  align-items: center;
  height: 100%;
}

.cell__inner {
  position: relative;
  justify-content: space-between;
}

.gridSample__filter {
  width: rem(200px);
}

.flag {
  width: rem(24px);
}

.cup {
  padding-left: 20px;
}

@media (max-width: rem(960px)) {
  .grid__wrapper {
    width: rem(960px);
  }
}

.linear-bar-container {
  margin: auto;
}
