:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sample-wrapper {
    width: 100%;
	height: 100%;
	position: relative;
    margin: 0 auto;
	background: transparent;
	margin-top: 30px;
}
.input-group-form{
	border: 2px solid #731963;
	padding: 15px;
}
.sample-title {
    color: #731963;
    margin-bottom: 24px;
}
.sample-title .light {
    font-weight: 400;
}

.igx-input-group, .component-container {
	margin-top: 32px;
}
button{
    background-color:#731963;
    border-color:#731963;
    color: white;
}
