/output/**
!output/.gitkeep
/node_modules
/templates/**/*.js.map
/lib/**/*.js.map
/lib/**/*.js
/lib/config/Config.schema.json
/packages/core/config/Config.schema.json
/packages/**/*.js.map
/packages/**/*.js
!/packages/cli/bin/*.js
/scripts/**/*.js.map
/scripts/**/*.js
/spec/**/*.js.map
/spec/**/*.js
# Include changes to package template files
!/packages/igx-templates/**/files/**/*
packages/cli/templates/jquery/**/*.js
!/packages/cli/templates/jquery/**/files/**/*
packages/cli/templates/angular/**/*.js
!/packages/cli/templates/angular/**/files/**/*
packages/cli/templates/react/**/*.js
!/packages/cli/templates/react/**/files/**/*
!/packages/cli/templates/quickstart/**/*.js
!/packages/cli/templates/quickstart/**/**/*.js
/migrations/**/*.js.map
/migrations/**/*.js
/schematics/**/*.js.map
/schematics/**/*.js
/coverage
/.nyc_output
