/output/**
!output/.gitkeep
/node_modules
/templates/**/*.js.map
/lib/**/*.js.map
/lib/**/*.js
/lib/config/Config.schema.json
/scripts/**/*.js.map
/scripts/**/*.js
/spec/**/*.js.map
/spec/**/*.js
/templates/jquery/**/*.js
!/templates/jquery/**/files/**/*
/templates/angular/**/*.js
!/templates/angular/**/files/**/*
/templates/react/**/*.js
!/templates/react/**/files/**/*
/migrations/**/*.js.map
/migrations/**/*.js
/coverage
/.nyc_output
