// Import the theme utilities first
@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($default-palette);

@import 'mixins';

@include scrollbar-love();

$green-palette: igx-palette($primary: #09f,$secondary: #72da67, $surface: #333);

.fin-dark-theme {
    @include igx-dark-theme($green-palette);
    @include scrollbar-love(igx-color($green-palette, 'surface'));
     background: #333;

     ::-moz-placeholder {
         opacity: 1;
     }
 }
