$ep-sample-border: 1px solid rgba(174, 174, 174, 0.25);

.sample-wrapper {
  overflow-y: auto;
  max-height: 450px;
  width: 600px;
  margin: 8px;
}

igx-expansion-panel-body,
igx-switch {
  padding: 16px;
}

igx-expansion-panel {
  border: $ep-sample-border;
}
