<div igxLayout igxLayoutDir="columns" igxLayoutItemAlign="center">
	<p>igx-calendar component with $(selectionMode)</p>
	<p>You can read more about configuring the igx-calendar component in the 
	<a href="https://github.com/IgniteUI/igniteui-angular/blob/master/projects/igniteui-angular/src/lib/calendar/README.md" target="_blank">README</a> or the 
	<a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/calendar.html" target="_blank">official documentation</a>.</p>
	<igx-calendar $(selectionType)></igx-calendar>
  </div>
  