form {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    > * {
        width: 100%;
    }
}

button {
    width: 100%;
    margin-top: 10px;
}

a {
    cursor: pointer;
}
