<p>$(description)<br />
You can read more about configuring the igx-grid component in the 
<a href="https://github.com/IgniteUI/igniteui-angular/blob/master/projects/igniteui-angular/src/lib/grids/tree-grid/README.md" target="_blank">README</a> or the 
<a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/treegrid.html" target="_blank">official documentation</a>.</p>
$(selectedFeatures)

<igx-tree-grid #treeGrid [data]="localData" primaryKey="ID" childDataKey="Employees" width="990px" height="700px" 
$(treeGridFeatures)>
	<igx-column field="Name" dataType="string" [minWidth]="200" width="500px" $(columnFeatures) $(columnPinning)></igx-column>
	<igx-column field="Location" dataType="string" $(columnFeatures)></igx-column>
	<igx-column field="HireDate" header="Hire Date" dataType="date" [minWidth]="100" $(columnFeatures)></igx-column>
	<igx-column field="Age" dataType="number" [minWidth]="100" $(columnFeatures)></igx-column>
</igx-tree-grid>