.tree-node-icon {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.node-refresh {
    cursor: pointer;
    padding: 0px 4px;
    color: var(--igx-success-500);
}

.node {
    display: flex;
    align-items: center;
}

.node-title {
    margin-left: 10px;
    vertical-align: middle;
}

.sample-wrapper {
    margin: 0 auto;
    padding: 10px;
}
