body {
  background: hsla(var(--igc-surface-500, 0 0% 100%));
  color: var(--igc-surface-500-contrast, black);
}

html,
body {
  height: 100%;
}

/* minor CSS reset */
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  box-sizing: border-box
}

img, video {
  height: auto;
  max-width: 100%;
}
