<html lang="en">
  <head>
    <!-- Set the base href -->
    <base href="<%= htmlWebpackPlugin.options.baseHref %>" />
    <!-- <title><<projNamePlaceHodler>></title> -->
    <title>my-project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="src/styles.css">

    <!-- Ignite UI Required Combined CSS Files //TODO: "$(themePath)" -->
    <link href="/ignite-ui/css/themes/$(theme)/infragistics.theme.css" rel="stylesheet" />
    <link href="/ignite-ui/css/structure/infragistics.css" rel="stylesheet" />

    <script src="http://code.jquery.com/jquery-1.12.3.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <!-- Polyfill(s) for older browsers -->
    <!-- Note: In order to have a working app, should either import zone.js and core-js shim in the module.ts OR ref these scripts from the index.html. -->
    <!--<script src="../node_modules/core-js/client/shim.min.js"></script>
    <script src="../node_modules/zone.js/dist/zone.js"></script>
    <script src="../node_modules/reflect-metadata/Reflect.js"></script>-->

    <!-- Note: Excel exporting depends on FileSaver.js and Blob.js polyfills -->
    <script src="https://www.igniteui.com/js/external/FileSaver.js"></script>
    <!-- <script src="https://www.igniteui.com/js/external/Blob.js"></script> -->
    <%= htmlWebpackPlugin.options.igniteUIScripts %>

  </head>
  <body>
    <my-app>Loading...</my-app>
  </body>
</html>
