@use 'igniteui-angular/theming' as *;

%content-display {
  width: 100%;
  display: flex;
  text-align: center;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  overflow: inherit;
}

@include b(content) {
  @extend %content-display;

  h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4;
    max-width: 1120px;
  }

  p {
    font-size: 16px;
    margin: 0px 0px 8px 0px;

    &:nth-last-child(2) {
      padding-top: 16px;
    }
  }

  @include e(link) {
    font-size: 16px;
  }

  @include e(header) {
    color: color($default-palette, "primary");
    font-size: 80px;
    font-weight: 300;
    line-height: 1.2;
  }

  @include e(subject) {
    margin-top: 0;
    margin-bottom: 16px;
  }

  @include e(container, $m: wide) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 24px;
  }

  @include e(link, $m: github) {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 16px;

    &::before {
      position: relative;
      display: block;
      content: "";
      min-width: 24px;
      min-height: 24px;
      background-image: url("../../assets/GitHub/github.svg");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      margin-right: 8px;
    }
  }

  @include e(image) {
    margin-bottom: 32px;
    max-height: 400px;
    max-width: 100%;
  }

  @media (max-width: 768px) {
    @include e(header) {
      font-size: 40px;
    }

    h4 {
      font-size: 20px;
    }
  }
}
