@import '~igniteui-angular/lib/core/styles/themes/utilities';

%content-display {
    width: 100%;
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    padding: 40px 24px 40px 24px;
    overflow: inherit;
}

@include b(content) {
    @extend %content-display;

    p {
        margin: 0px 0px 8px 0px;

        &:nth-last-child(2) {
            padding-top: 16px;
        }
    }

    @include e(header) {
        color: igx-color($default-palette, 'primary');
    }

    @include e(subject) {
        margin-bottom: 16px;
    }

    @include e(container, $m: wide) {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    @include e(link, $m: github) {
        position: relative;
        display: flex;
        flex-flow: row;
        align-items: center;

        &:not(:first-child) {
            margin-left: 24px;
        } 


        &::before {
            position: relative;
            display: block;
            content: '';
            min-width: 24px;
            min-height: 24px;
            background-image: url('../../assets/GitHub/github.svg');
            background-size: 24px 24px;
            background-repeat: no-repeat;
            margin-right: 8px;
        }
    }
    
    @include e(image) {
        margin-bottom: 48px;
        max-height: 480px;
        max-width: 100%;
    }
}