body {
  background: hsla(var(--ig-surface-500, 0 0% 100%));
  color: var(--ig-surface-500-contrast, black);
  font-family: var(--ig-font-family);
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

/* minor CSS reset */
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

img, video {
  height: auto;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
