.enhanced-groups {
    padding-top: 100px;
    display: flex;
    flex-flow: row;
}

.postalCode {
    padding-left: 50px;
}

.content-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}
