<p>IgxHierarchicalGrid with enabled batch editing. You can edit parent as well as child layout records. You can also add a record on root level using Add singer button.  <br />
	You can read more about configuring the igx-hierarchical-grid component in the
	<a href="https://github.com/IgniteUI/igniteui-angular/tree/master/projects/igniteui-angular/src/lib/grids/hierarchical-grid/README.md"
		target="_blank">README</a> or the
	<a href="https://staging.infragistics.local/products/ignite-ui-angular/angular/components/hierarchicalgrid/hierarchical_grid.html"
		target="_blank">official documentation</a>.</p>
<br />		
<button igxButton="raised" (click)="dialogAddSinger.open()" class="addSingerBtn">Add Singer</button>

<app-hierarchical-grid-with-transactions>
    <igx-hierarchical-grid #hGrid class="hgrid" [data]="localdata" [primaryKey]="'artist'"
        [rowEditable]="true" [height]="'580px'" [width]="'1000px'">
        <igx-column [header]="'Artist'" field="artist" [editable]="true" [dataType]="'string'"></igx-column>
        <igx-column [header]="'Has a Grammy Award'" field="hasGrammyAward" [editable]="true" [dataType]="'boolean'"></igx-column>
        <igx-column [header]="'Debut'" field="debut" [editable]="true" [dataType]="'number'"></igx-column>
        <igx-column [header]="'Grammy Nominations'" field="grammyNominations" [editable]="true" [dataType]="'number'"></igx-column>
        <igx-column [header]="'Grammy Awards'" field="grammyAwards" [editable]="true" [dataType]="'number'"></igx-column>
        <igx-column width="150px">
            <ng-template igxCell let-cell="cell" let-val>
                <button igxButton (click)="removeRow(cell.cellID.rowIndex)"
                    [disabled]="cell.row.deleted">Delete</button>
            </ng-template>
        </igx-column>

        <igx-row-island [key]="'Albums'" #layout1 [primaryKey]="'Album'" [rowEditable]="true">
            <igx-column field="Album" [editable]="true" [dataType]="'string'"></igx-column>
            <igx-column field="Launch Date" [editable]="true" [dataType]="'date'"></igx-column>
            <igx-column field="Billboard Review" [editable]="true" [dataType]="'number'"></igx-column>
            <igx-column field="US Billboard 200" [editable]="true" [dataType]="'number'"></igx-column>
        </igx-row-island>
    </igx-hierarchical-grid>
</app-hierarchical-grid-with-transactions>

<div class="buttons-row">
    <div class="buttons-wrapper">
        <button igxButton [disabled]="!undoEnabledParent" (click)="undoParent()">Undo Parent</button>
        <button igxButton [disabled]="!redoEnabledParent" (click)="redoParent()">Redo Parent</button>
        <button igxButton [disabled]="!hasTransactions" (click)="openCommitDialog()">Commit</button>
        <button igxButton [disabled]="!undoEnabledChild" (click)="undoChild()">Undo Child</button>
        <button igxButton [disabled]="!redoEnabledChild" (click)="redoChild()">Redo Child</button>
    </div>
</div>

<igx-dialog #dialogAddSinger title="New Singer" [rightButtonLabel]="'Add'" [leftButtonLabel]="'Cancel'"
    (onLeftButtonSelect)="closeDialog()" (onRightButtonSelect)="addSinger()">
    <div class="dialogNewSinger">
        <igx-input-group>
            <label igxLabel for="artist">Artist</label>
            <input igxInput id="artist" type="text" [(ngModel)]="singer.Artist" />
        </igx-input-group>
        <igx-checkbox id="hasGrammyAward" [(ngModel)]="singer.HasGrammyAward">Has Grammy Award</igx-checkbox>
        <igx-input-group>
            <label igxLabel for="debut">Debut</label>
            <input igxInput id="debut" type="number" [(ngModel)]="singer.Debut" />
        </igx-input-group>
        <igx-input-group>
            <label igxLabel for="grammyNominations">Grammy Nominations</label>
            <input igxInput id="grammyNominations" type="number" [(ngModel)]="singer.GrammyNominations" />
        </igx-input-group>
        <igx-input-group>
            <label igxLabel for="grammyAwards">Grammy Awards</label>
            <input igxInput id="grammyAwards" type="number" [(ngModel)]="singer.GrammyAwards" />
        </igx-input-group>
    </div>
</igx-dialog>

<igx-dialog #dialogChanges title="Submit the following transactions?">
    <igx-grid #dialogGrid [data]="transactionsDataAll" [rowHeight]="64" [primaryKey]="'id'" width="650px" height="300px"
        [emptyGridMessage]="'No available transactions'">
        <igx-column field="id" header="ID" [dataType]="'string'" width="150px"></igx-column>
        <igx-column field="type" header="Type" width="150px" [sortable]="true">
            <ng-template igxCell let-cell="cell" let-val>
                <span [class]="classFromType(val)">{{ typeFormatter(val) }}</span>
            </ng-template>
        </igx-column>
        <igx-column field="newValue" header="Value" width="900px">
            <ng-template igxCell let-cell="cell" let-val>
                <span class="transaction-log">{{ stateFormatter(val) }}</span>
            </ng-template>
        </igx-column>
    </igx-grid>

    <div class="buttons-wrapper">
        <button igxButton (click)="commit()">Commit</button>
        <button igxButton (click)="discard()">Discard</button>
        <button igxButton (click)="closeDialog()">Cancel</button>
    </div>
</igx-dialog>
