.nav-menu {
	width: 250px;
	flex-basis: 250px;
	flex-shrink: 0;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #e6e6e6;
}

.nav-menu h1 {
	font-size: 1.4em;
	display: block;
	padding: 0 16px;
	text-decoration: none;
}

.nav-menu-item a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 14px 16px; 
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-menu-item a:hover {
	background-color: #111;
	color: white;
}

.nav-menu-item a.active {
	background-color: rgb(68, 67, 67);
	color: white;
}
