<div class="main">
  <igx-nav-drawer #nav id="project-menu"  isOpen="true" [enableGestures]='true' width="280px">
      <div class="igx-drawer-content">
          <h3>Views</h3>
          <span *ngFor="let route of topNavLinks" class="nav-item" routerLinkActive="active" routerLink="{{route.path}}">{{route.name}}</span>
      </div>
  </igx-nav-drawer>
  <div>
      <igx-navbar title="IgniteUI for Angular!" actionButtonIcon="menu" (onAction)="nav.toggle()"></igx-navbar>
      <router-outlet></router-outlet>
    </div>
</div>
