<div class="grid__wrapper">

  <div class="sample__header">
    <div class="crm-sample">
      <span>Business propeller</span>

      <div class="relative-container">
        <button class="toggle-button" igxButton="flat" igxRipple="#09f" [igxToggleAction]="toggleRefHiding">
          <igx-icon class="header-icon">visibility_off</igx-icon>
          <span>{{hiddenColsLength}} hidden</span>
          <igx-icon class="header-icon">arrow_drop_down</igx-icon>
        </button>
        <div class="toggle-content" igxToggle #toggleRefHiding="toggle">
          <div class="toggle-section">
            <h4 class="dd-title">Hidden columns:</h4>
            <ul class="dd-list">
              <li class="dd-list__item" *ngFor="let col of cols">
                <igx-checkbox (change)="toggleVisibility(col)" [checked]="col.hidden">{{col.header}}</igx-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="relative-container">
        <button class="toggle-button" igxButton="flat" igxRipple="#09f" [igxToggleAction]="toggleRefPinning">
          <igx-icon class="header-icon">lock</igx-icon>
          <span>{{pinnedColsLength}} pinned</span>
          <igx-icon class="header-icon">arrow_drop_down</igx-icon>
        </button>
        <div class="toggle-content" igxToggle #toggleRefPinning="toggle">
          <div class="toggle-section">
            <h4 class="dd-title">Pinned columns:</h4>
            <ul class="dd-list">
              <li class="dd-list__item" *ngFor="let col of cols">
                <igx-checkbox (change)="togglePin(col, $event)" [checked]="col.pinned">{{col.header}}</igx-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <button class="toggle-button" igxButton="flat" igxRipple="#09f" (click)="exportData()">
        <igx-icon class="header-icon">file_download</igx-icon>
        <span>to Excel</span>
      </button>
    </div>
  </div>

  <igx-grid #grid1 [data]="localData" height="550" [width]="'1172px'" rowSelectable="true">
    <igx-column field="id" header="Customer Number" filterable="true" width="172" pinned="true" hasSummary="true" resizable="true"
     hidden="true">
    </igx-column>

    <igx-column field="avatar" header="Photo" width="88" pinned="true" resizable="true">
      <ng-template igxCell let-cell="cell">
        <div class="cell__inner avatar-cell">
          <igx-avatar [src]="cell.row.rowData.avatar" roundShape="true" size="small"></igx-avatar>
        </div>
      </ng-template>
    </igx-column>

    <igx-column field="name" header="Name" sortable="true" filterable="true" width="149" pinned="true" resizable="true " hasSummary="true">
    </igx-column>

    <igx-column field="position" header="Position" filterable="true" width="200" resizable="true">
    </igx-column>

    <igx-column field="company" header="Company" sortable="true" filterable="true" width="130" hasSummary="true" resizable="true">
    </igx-column>

    <igx-column field="email" header="Email" width="240" resizable="true">
    </igx-column>

    <igx-column field="work_phone" header="Work Phone" width="160" resizable="true">
    </igx-column>

    <igx-column field="mobile_phone" header="Mobile Phone" width="160" resizable="true">
    </igx-column>

    <igx-column field="fax" header="Fax" width="160" resizable="true">
    </igx-column>

    <igx-column field="tags" filterable="true" header="Tags" filterable="true" width="160" resizable="true">
    </igx-column>

    <igx-column field="street" header="Street" width="160" resizable="true">
    </igx-column>

    <igx-column field="city" header="City" filterable="true" width="160" resizable="true">
    </igx-column>

    <igx-column field="post_code" header="Post Code" width="100" resizable="true">
    </igx-column>

    <igx-column field="state" header="State" filterable="true" width="105" resizable="true">
    </igx-column>

    <igx-column field="country" header="Country" sortable="true" filterable="true" width="160" resizable="true">
    </igx-column>

	<igx-column field="created_on" header="Created On" dataType="date" [formatter]="formatDate" [sortable]="true" width="150" resizable="true">
	</igx-column>

	<igx-column field="referred_by" header="Referred By" filterable="true" width="160" resizable="true">
	</igx-column>

	<igx-column field="birthday" header="Birthday" width="140" dataType="date" [formatter]="formatDate" hasSummary="true" [summaries]="soonSummary" resizable="true">
	</igx-column>

	<igx-column field="last_activity" header="Last Activity" width="140" dataType="date" [formatter]="formatDate" hasSummary="true" [summaries]="earliestSummary" resizable="true">
	</igx-column>

	<igx-column field="next_activity" header="Next Activity" width="140" dataType="date" [formatter]="formatDate" hasSummary="true" [summaries]="earliestSummary" resizable="true">
	</igx-column>

    <igx-column field="deals_total" header="Total Deals" sortable="true" width="110" dataType="number" hasSummary="true" [summaries]="dealsSummary"
     resizable="true">
    </igx-column>

    <igx-column field="deals_won" header="Won Deals" sortable="true" width="110" dataType="number" hasSummary="true" [summaries]="dealsSummary"
     resizable="true">
    </igx-column>

    <igx-column field="ratio" header="Ratio" width="150" resizable="true">
      <ng-template igxCell let-val>
        <igx-linear-bar [textVisibility]="false" class="cell__inner_2" [value]="val" [animate]="false"></igx-linear-bar>
      </ng-template>
    </igx-column>

    <igx-column field="deals_lost" header="Lost Deals" sortable="true" width="110" dataType="number" hasSummary="true" [summaries]="dealsSummary"
     resizable="true">
    </igx-column>

    <igx-column field="deals_pending" header="Pending Deals" sortable="true" width="130" dataType="number" hasSummary="true"
     [summaries]="dealsSummary" resizable="true">
    </igx-column>

    <igx-column field="estimated_sales" header="Possible Sales ($)" sortable="true" width="150" dataType="number" hasSummary="true"
     [summaries]="dealsSummary" resizable="true">
    </igx-column>

    <igx-column field="actual_sales" header="Actual Sales ($)" sortable="true" width="150" dataType="number" hasSummary="true"
     [summaries]="dealsSummary" resizable="true">
    </igx-column>
  </igx-grid>

</div>
