<div class="content">
  <h2 class="content__header content__subject">Welcome to Ignite UI for Angular</h2>
  <h4 class="content__subject">50+ Material-based UI Components</h4>
  <img src="../../assets/indigo-design.svg" class="content__image">
  <p class='igx-typography__subtitle-1'>Discover more at</p>
  <p>
    <a href='http://www.infragistics.com/products/ignite-ui-angular' target="_blank" class='content__link igx-typography__body-2'>
      http://www.infragistics.com/products/ignite-ui-angular</a>
  </p>
  <p>
    <a href="http://www.infragistics.com/products/indigo-design" target="_blank" class='content__link igx-typography__body-2'>
      http://www.infragistics.com/products/indigo-design
    </a></p>
  <p class='igx-typography__subtitle-1'>We are also on GitHub</p>
  <p class="content__container--wide">
    <a href="https://github.com/IgniteUI/igniteui-angular" target="_blank" class="content__link--github igx-typography__body-2">
      <span class="content__link-image"></span>Ignite UI for Angular
    </a>
    <a href="https://github.com/IgniteUI/igniteui-cli" target="_blank" class="content__link--github igx-typography__body-2">
      <span class="content__link-image"></span>Ignite UI CLI
    </a>
  </p>
</div>