:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-container {
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .carousel-container {
    width: 100%;
  }
}
