<div class="sample-wrapper">
	<section class="sample-content">
		<article class="sample-column">	
		<div class="grid__wrapper">	
		<div class="sample__header">
			<div class="switch-sample">
				<h2 class="switch-sample__title">Boston Marathon 2018</h2>
				<igx-switch [(ngModel)]="live" [disabled]="isFinished" title="Start/Stop the marathon"> <span class="switch-sample__label">Live</span> </igx-switch>
			</div>
			<igx-input-group>
				<input class="gridSample__filter" igxInput type="text" placeholder="Filter by country" (input)="filter($event.target.value)">
			</igx-input-group>
		</div>
	
		<igx-grid #grid1 [data]="localData" [paging]="true" [perPage]="6" height="513px" (onSelection)="cellSelection($event)" [paginationTemplate]="pager">
			<igx-column header="Rank" headerClasses="myClass" width="100px" field="Id" sortable="true">
					<ng-template igxCell let-cell="cell">
						<div class="cell__inner">
						<div>{{ cell.value }}</div>
						<ng-container *ngIf="isTop3(cell)">
							<span class="cup" *ngIf="cell.value === 1">
								<img src="assets/images/trophy_gold.svg" alt="golf-trophy" />
							</span>
							<span class="cup" *ngIf="cell.value === 2">
								<img src="assets/images/trophy_silver.svg" alt="silver-trophy" />
							</span>
							<span class="cup" *ngIf="cell.value === 3">
								<img src="assets/images/trophy_bronze.svg" alt="bronze-trophy" />
							</span>
						</ng-container>
					</div>
				</ng-template>
			</igx-column>
	
			<igx-column field="Name" header="Athlete" filterable="true" width="280">
				<ng-template igxCell let-cell="cell">
					<div class="cell__inner">
						<igx-avatar [src]="cell.row.rowData.Avatar" roundShape="true" size="small"> </igx-avatar><span class="athlete_name">{{ cell.value }}</span>
						<igx-badge *ngIf="live" [type]="getBadgeType(cell)" [icon]="getIconType(cell)"></igx-badge>
					</div>
	
				</ng-template>
			</igx-column>
	
			<igx-column field="AthleteNumber" header="Athlete Number" [hidden]="hideAthleteNumber" dataType="number">
				<ng-template igxCell let-val>
					<div class="cell__inner">
						{{ val }}
					</div>
				</ng-template>
			</igx-column>
	
			<igx-column field="BeatsPerMinute" header="Beats per minute" [hasSummary]="true" dataType="number" [summaries]="bnpSummary" [hidden]="hideBeatsPerMinute">
				<ng-template igxCell let-val>
					<div class="cell__inner">
						{{ val }}
					</div>
				</ng-template>
			</igx-column>
	
			<igx-column field="TopSpeed" header="Top Speed" width="120px" dataType="number" [hasSummary]="true" [summaries]="topSpeedSummary">
	
				<ng-template igxCell let-val>
					<div class="cell__inner">
						{{ val | number: '1.1-5' }}
					</div>
				</ng-template>
	
			</igx-column>
	
			<igx-column field="TrackProgress" sortable="true" header="Track Progress">
				<ng-template igxCell let-val>
					<div class="linear-bar-container">
						<igx-linear-bar [textVisibility]="false" class="cell__inner_2" [value]="val"></igx-linear-bar>
					</div>
				</ng-template>
			</igx-column>
	
			<igx-column field="CountryName" hidden="true"></igx-column>
			<igx-column field="CountryFlag" header="Country" width="90px">
				<ng-template igxCell let-cell="cell">
					<div class="cell__inner_2">
						<span>
							<img [src]="cell.value" class="flag" />
						</span>
					</div>
				</ng-template>
			</igx-column>
		</igx-grid>
	
		<ng-template #pager let-grid>
			<div *ngIf="grid.paging && grid.totalPages > 0" class="igx-paginator">
				<button [disabled]="grid.isFirstPage" (click)="grid.paginate(0)" igxButton="icon" igxRipple igxRippleCentered="true">
					<igx-icon>first_page</igx-icon>
				</button>
				<button [disabled]="grid.isFirstPage" (click)="grid.previousPage()" igxButton="icon" igxRipple igxRippleCentered="true">
					<igx-icon>chevron_left</igx-icon>
				</button>
				<span>{{ grid.page + 1 }} of {{ grid.totalPages }}</span>
				<button [disabled]="grid.isLastPage" (click)="grid.nextPage()" igxRipple igxRippleCentered="true" igxButton="icon">
					<igx-icon>chevron_right</igx-icon>
				</button>
				<button [disabled]="grid.isLastPage" (click)="grid.paginate(grid.totalPages - 1)" igxButton="icon" igxRipple igxRippleCentered="true">
					<igx-icon>last_page</igx-icon>
				</button>
			</div>
		</ng-template>	
		</div>
		</article>
	</section>
</div>