<div igxLayout igxLayoutDir="columns" igxLayoutItemAlign="center">
  <p>igx-date-picker component.</p>
  <p>You can read more about configuring the igx-date-picker component in the 
  <a href="https://github.com/IgniteUI/igniteui-angular/blob/master/projects/igniteui-angular/src/lib/date-picker/README.md" target="_blank">README</a> or the 
  <a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/date_picker.html" target="_blank">official documentation</a>.</p>
  <igx-date-picker [cancelButtonLabel]="'Close'"[todayButtonLabel]="'Today'" [value]="today"></igx-date-picker>
</div>