<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img src="assets/Ignite-header-apps-960.png" alt="Ignite UI" height="602" width="602" >
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.infragistics.com/products/ignite-ui-angular">Ignite UI for Angular</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/IgniteUI/ignite-ui-cli">Ignite UI CLI </a></h2>
  </li>
</ul>
