<div igxLayout igxLayoutDir="columns" igxLayoutItemAlign="center">
  <p>igx-time-picker component with initial value set. One-way data bind is used.</p>
  <p>You can read more about configuring the igx-time-picker component in the 
  <a href="https://github.com/IgniteUI/igniteui-angular/blob/master/projects/igniteui-angular/src/lib/time-picker/README.md" target="_blank">README</a> or the 
  <a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/time_picker.html" target="_blank">official documentation</a>.</p>
  <igx-time-picker id="time-picker" [value]="date"></igx-time-picker>
</div>