<form class="input-group-form">
	<h3 class="login-title">Welcome Back</h3>
	<igx-input-group>
		<igx-prefix>
			<igx-icon name="account_circle"></igx-icon>
		</igx-prefix>
		<label igxLabel for="email">Username</label>
		<input igxInput id="email" name="email" type="email" [(ngModel)]="email" />
	</igx-input-group>
	<igx-input-group>
		<igx-prefix>
			<igx-icon name="lock"></igx-icon>
		</igx-prefix>
		<input igxInput id="password" name="password" type="password" [(ngModel)]="password" />
		<label igxLabel for="password">Password</label>
	</igx-input-group>
	<div class="button-wrapper">
		<button igxButton="raised" type="submit" igxRipple (click)="tryLogin()">LOG IN</button>
	</div>
</form>