a {
  color: #731963;
}

.links{
  text-align: center;
  padding: 0 35px;
}

#linksContainer {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
}

:host{
  width: 100%;
  text-align:center;
}

img {
  max-width:100%;
}
