@import "client/variables";

.header-container {
  background-color: $grey;
  padding: 10px;
  user-select: none;
  -webkit-user-select: none;

  .header-title {
    color: $white;
    margin: 0;
    font-size: 1.4em;
  }

  &.header-main {
    background-color: #0099cc;
    margin: -7px -7px 50px -7px;
    text-align: center;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.26), 0 4px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  }
}
