.select-wrapper {
  padding-top: 50px;
  display: flex;
  flex-flow: row;
}

.actions {
  display: flex;
  flex-flow: column;
  padding-top: 5%;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
