form {
  display: flex;
  flex-flow: column;
  gap: 16px;
  padding: 8px 0 0;

  > * {
    width: 100%;
  }
}

igx-input-group {
  --ig-input-group-focused-secondary-color: #239ef0;
  --ig-input-group-filled-text-color: #2d2d2d;

  igx-icon {
    color: #0075d2;
  }
}

.button-wrapper {
  display: flex;
  flex-flow: column;
  gap: 8px;
  padding-top: 4px;
}

button[type='submit'] {
  min-height: 40px;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}

button[type='submit']:not(:disabled) {
  color: #fff;
  background: #239ef0;
}

button[type='submit']:disabled {
  color: #767676;
  background: #e0e0e0;
}

.button-wrapper .auth-link {
  align-self: center;
  color: #0075d2;
  font-size: .875rem;
  cursor: pointer;
  text-decoration: underline;
  text-transform: none;
}

.button-wrapper .auth-link:hover,
.button-wrapper .auth-link:focus-visible {
  color: #005da8;
}

.social-login {
  display: grid;
  gap: 8px;
  padding-top: 16px;
  border-top: 1px solid #d7d7d7;

  button.google {
    background-color: rgb(255, 19, 74);
  }
  button.facebook {
    background-color: rgb(19, 119, 213);
  }
  button.microsoft {
    background-color: rgb(27, 158, 245);
  }

  button.google,
  button.facebook,
  button.microsoft {
    color: #fff;
    text-transform: uppercase;
  }
}
