<p>igx-select component.</p>
<p>You can read more about how to configure it in the 
<a href="https://github.com/IgniteUI/igniteui-angular/blob/master/projects/igniteui-angular/src/lib/select/README.md" target="_blank">README</a> or the 
<a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/select.html" target="_blank">official documentation</a>.</p>

<form>
	<div class="select-wrapper">
		<igx-select [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
			<igx-select-item *ngFor="let item of items" [value]="item">
				{{item}}
			</igx-select-item>
		</igx-select>
		<div class="actions">
			<button igxButton (click)="onSubmit()">Submit</button>
		</div>
	</div>
	<p class="output">You selected: {{value}}</p>
</form>
