<div>
  <p>igx-bottom-nav component.</p>
  <p>You can read more about configuring the igx-bottom-nav component in the 
  <a href="https://github.com/IgniteUI/igniteui-angular/blob/master/projects/igniteui-angular/src/lib/tabbar/README.md" target="_blank">README</a> or the 
  <a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/tabbar.html" target="_blank">official documentation</a>.</p>
  <igx-bottom-nav>
  <igx-tab-panel icon="phone">
    <h3 class="header">History</h3>
    <div class="item" igxRipple="pink" *ngFor="let contact of userContacts">
      <igx-avatar [src]="contact.avatar" roundShape="true"></igx-avatar>
      <div class="person">
        <p class="name">{{contact.text}}</p>
        <span class="phone">{{contact.phone}}</span>
      </div>
      <igx-icon>phone</igx-icon>
    </div>
  </igx-tab-panel>
  <igx-tab-panel icon="supervisor_account">
    <div class="tab-content">
      <h3>Tab 2 Content</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula. Donec
        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
        urna arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus.
        Donec efficitur purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus
        a magna euismod volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a
        arcu sollicitudin finibus. Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam.
        Mauris vel quam at velit venenatis vulputate in quis nisl.</p>
    </div>
  </igx-tab-panel>
  <igx-tab-panel icon="format_list_bulleted">
    <div class="tab-content">
      <h3>Tab 3 Content</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula. Donec
        consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
        urna arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus.
        Donec efficitur purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus
        a magna euismod volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a
        arcu sollicitudin finibus. Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam.
        Mauris vel quam at velit venenatis vulputate in quis nisl.</p>
    </div>
  </igx-tab-panel>
</igx-bottom-nav>
</div>
