<p>igx-grid component with batch editing.</p>
<p>You can read more about configuring the igx-grid component in the 
<a href="https://github.com/IgniteUI/igniteui-angular/blob/master/projects/igniteui-angular/src/lib/grids/README.md" target="_blank">README</a> or the 
<a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/grid.html" target="_blank">official documentation</a>.</p>
<app-$(filePrefix)-with-transactions>
    <igx-grid #gridRowEditTransaction [data]="data" [primaryKey]="'ProductID'" width="835px" height="500px"
        [rowEditable]="true">
        <igx-column width="135px">
            <ng-template igxCell let-cell="cell" let-val>
                <button igxButton (click)="deleteRow($event, cell.cellID.rowID)">Delete</button>
            </ng-template>
        </igx-column>
        <igx-column width="60px" field="ProductID" header="Product ID"></igx-column>
        <igx-column width="100px" field="ReorderLevel" header="ReorderLever" [dataType]="'number'"></igx-column>
        <igx-column width="190px" field="ProductName" header="ProductName" [dataType]="'string'"></igx-column>
        <igx-column width="100px" field="UnitsInStock" header="UnitsInStock" [dataType]="'number'">
            <ng-template igxCellEditor let-cell="cell">
                <input name="units" [(ngModel)]="cell.gridAPI.get_cell_inEditMode(cell.gridID).cell.editValue" [igxFocus]="true" style="color: black; width: 30px;" />
            </ng-template>
        </igx-column>
        <igx-column width="150px" field="OrderDate" [dataType]="'date'"></igx-column>
        <igx-column width="100px" field="Discontinued" header="Discontinued" [dataType]="'boolean'"></igx-column>
    </igx-grid>
  </app-$(filePrefix)-with-transactions>
<div class="buttons-row">
    <button igxButton (click)="addRow()" igxRipple>Add Row</button>
    <div class="buttons-wrapper">
        <button igxButton [disabled]="!transactions.canUndo" (click)="transactions.undo()" igxRipple>Undo</button>
        <button igxButton [disabled]="!transactions.canRedo" (click)="transactions.redo()" igxRipple>Redo</button>
        <button igxButton [disabled]="!hasTransactions" (click)="openCommitDialog()" igxRipple>Commit</button>
    </div>
</div>
<igx-dialog title="Submit the following transactions?">
    <igx-grid #dialogGrid [data]="transactionsData" [rowHeight]="64"
        [primaryKey]="'id'" width="600px" height="300px" [emptyGridMessage]="'No available transactions'">
        <igx-column field="id" header="ID" [dataType]="'string'" width="100px"></igx-column>
        <igx-column field="type" header="Type" width="150px" [sortable]="true">
            <ng-template igxCell let-cell="cell" let-val>
                <span [class]="classFromType(val)">{{ typeFormatter(val) }}</span>
            </ng-template>
        </igx-column>
        <igx-column field="newValue" header="Value" width="900px">
            <ng-template igxCell let-cell="cell" let-val>
                <span class="transaction-log">{{ stateFormatter(val) }}</span>
            </ng-template>
        </igx-column>
    </igx-grid>
    <div class="buttons-wrapper">
        <button igxButton (click)="commit()">Commit</button>
        <button igxButton (click)="discard()">Discard</button>
        <button igxButton (click)="cancel()">Cancel</button>
    </div>
</igx-dialog>