h4 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.transaction-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
