<div igxLayout>
  <igx-nav-drawer #nav id="project-menu" isOpen="true" [enableGestures]='true' width="280px">
    <ng-template igxDrawer>
      <span igxDrawerItem [isHeader]="true">Views</span>
      <span *ngFor="let route of topNavLinks" igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="{{route.path}}">{{route.name}}</span>
    </ng-template>
  </igx-nav-drawer>
  <div igxFlex igxLayout igxLayoutDir="columns">
    <igx-navbar title="$(name)" actionButtonIcon="menu" (onAction)="nav.toggle()"></igx-navbar>
    <div class="content" igxFlex>
      <router-outlet></router-outlet>
     </div>
  </div>
</div>
