.navbar {
	background-color: #e6e6e6;
	user-select: none;
	-webkit-user-select: none;
	position: fixed;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 2em;
	line-height: 2em;
	width: 100%;
	z-index: 1000;
	padding: 0 1.5em;
	font-size: 1.2em;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

a:after {
	content: '\a0\b7\a0';
}

a:last-child:after {
	content: '';
}
 