.form {
  display: flex;
  flex-flow: column;
  gap: 16px;
  padding: 8px 0 0;
}

.error {
  margin: 0;
  font-size: .875rem;
  color: var(--ig-error-500);
}

.actions {
  display: flex;
  flex-flow: column;
  gap: 8px;
  padding-top: 4px;
}
