@charset "UTF-8";
@import "./variables";

html, body {
  height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    padding: 0;
	margin: 0;
    background: url(lines-bottom-right.svg) right bottom;
    background-repeat: no-repeat;
}

#root {
	height: 100%;
}

article {
    flex: 1 1 auto;
    padding: 5px;
    overflow-y: auto;
}
