@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fontawesome.css");
@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fa-regular.css");
@import url("https://unpkg.com/@fortawesome/fontawesome-free-webfonts@^1.0.9/css/fa-solid.css");

@import '~igniteui-angular/lib/core/styles/themes/index';
@import '~igniteui-angular/lib/core/styles/themes/utilities';

$crm-grid-palette: igx-palette(
    $primary: #09f,
    $secondary: #ffc800
);

$primary-100: igx-color($crm-grid-palette, "primary", 100);
$primary-200: igx-color($crm-grid-palette, "primary", 200);
$primary-300: igx-color($crm-grid-palette, "primary", 300);
$primary-400: igx-color($crm-grid-palette, "primary", 400);
$primary-500: igx-color($crm-grid-palette, "primary", 500);
$primary-600: igx-color($crm-grid-palette, "primary", 600);
$primary-700: igx-color($crm-grid-palette, "primary", 700);

$secondary-100: igx-color($crm-grid-palette, "secondary", 100);
$secondary-200: igx-color($crm-grid-palette, "secondary", 200);
$secondary-300: igx-color($crm-grid-palette, "secondary", 300);
$secondary-400: igx-color($crm-grid-palette, "secondary", 400);
$secondary-500: igx-color($crm-grid-palette, "secondary", 500);
$secondary-600: igx-color($crm-grid-palette, "secondary", 600);
$secondary-700: igx-color($crm-grid-palette, "secondary", 700);

$checkbox-theme: igx-checkbox-theme(
    $palette: $crm-grid-palette,
    $fill-color: igx-color($crm-grid-palette, "secondary", 500),
    $tick-color: black
);

$summary-theme: igx-grid-summary-theme(
    $palette: $crm-grid-palette,
    $label-color: igx-color($crm-grid-palette, "primary", 500)
);

:host {
  padding-top: 20px;
}

:host ::ng-deep {

  @include igx-grid-summary($summary-theme);

  $search-theme: igx-input-group-theme(
    $search-background: $primary-400,
    $idle-text-color: $primary-100,
    $filled-text-color: igx-color($crm-grid-palette, "grays", 600),
    $focused-text-color: igx-color($crm-grid-palette, "grays", 600)
  );

  @include igx-checkbox($checkbox-theme);

  @include igx-input-group($search-theme);


  // grid theme
  $crm-grid-theme: igx-grid-theme(
    $palette: $crm-grid-palette,
    $header-background: lighten($primary-100, 15),
    $header-text-color: $primary-600,
    $cell-selected-background: $primary-100,
    $row-selected-background: $primary-200,
    $row-selected-text-color: #000,
    $row-hover-background: lighten($primary-100, 10)
  );

  @include igx-grid($crm-grid-theme);

  // button theme
  $crm-button-theme: igx-button-theme(
    $flat-background: $primary-700,
    $flat-text-color: white,
    $flat-hover-background: $primary-200,
    $flat-hover-text-color: $primary-100,
    $flat-focus-background: $primary-200,
    $flat-focus-text-color: $primary-100,

    $icon-background: $primary-700,
    $icon-color: white,
    $icon-hover-background: $primary-200,
    $icon-hover-color: $primary-100,
    $icon-focus-background: $primary-200,
    $icon-focus-color: $primary-100
  );

  // Pass the theme to the igx-button component mixin
  .operationsContainer {
    @include igx-button($crm-button-theme);
  }

  // linear bar theme
  $crm-linear-bar-theme: igx-progress-linear-theme(
    $palette: $crm-grid-palette,
    $fill-color-default: igx-color($crm-grid-palette, "success", 500),
    $track-color: igx-color($crm-grid-palette, "error", 500)
  );

  @include igx-progress-linear($crm-linear-bar-theme);

  .grid__wrapper {
    width: inherit;
    position: relative;
    height: 100%;
    margin: 1px;
    padding: 1px;
    background: transparent;
  }

  .avatar-cell {
    margin:-11px auto;
  }

  // grid caption styling
  .crm-sample-toolbar {
    background: $primary-500;
    width: 1172px;
    height: 56px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: rem(8px) rem(24px);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.26), 0 2px 2px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.08);
    border-radius: 2px;
    & span {
      margin-right: auto;
    }

    .igx-button--flat {
      flex-wrap: nowrap;
      white-space: nowrap;
    }

    .igx-button--icon {
      border-radius: 0;
    }
  }


  .sample-flex-container {
    display: flex;
    align-self: center;
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  .crm-sample-toolbar__title {
    margin-right: rem(16px);
    display: flex;
    align-items: center;
    justify-self: flex-start;
  }
  .logo-propeller {
  margin-right: 8px;
  margin-top: 2px;
  }


  .crm-sample-toolbar__ellipsis {
    @include ellipsis();
    opacity: 0;
    animation: slide-fade 1.25s .25s ease-out forwards;
  } 

  .igx-input-group--search .igx-input-group__bundle {
    height: rem(36px);
    overflow: hidden;
    background-color: $primary-700;
  }
  .igx-input-group--search .igx-input-group__bundle,
  .igx-input-group--search .igx-input-group__bundle:hover {
    box-shadow: none;
  }

  .sample-flex-container {
    .igx-input-group,
    .igx-input-group--focused {
      .igx-input-group__bundle {
        transition: background 500ms ease-in-out;
      }

      max-width: 50%;
      min-width: 50%;
      font-size: 13px;
      overflow: hidden;
      flex: 1 1 auto;

      igx-icon {
        font-size: 1rem;
        width: 1rem;
        height: 1rem;
        color: $primary-200;
      }
    }

    .igx-input-group {
      igx-icon {
        color: white;
      }
    }

    .igx-input-group__textarea,
    .igx-input-group__input {
      color: $primary-100;
    }

    .igx-input-group__input{
      &::placeholder {
        color: white;
        opacity: 1;
      }
    }

    .igx-input-group {
      &:hover,
      &:focus,
      &.igx-input-group--focused {
        igx-icon {
          color: igx-color($crm-grid-palette, 'grays', 600);
        }
        .igx-input-group__bundle {
          background: #fff;
          color: igx-color($crm-grid-palette, 'grays', 600);
        }

        .igx-input-group__input {
          &::placeholder {
            color: igx-color($crm-grid-palette, 'grays', 600);
            opacity: 1;
          }
        }

        .igx-input-group__textarea,
        .igx-input-group__input {
          color: igx-color($crm-grid-palette, 'grays', 600);
        }

        .igx-button--icon {
          &:focus,
          &:active {
            color: igx-color($crm-grid-palette, 'grays', 600);
          }
        }
      }
    }

    .igx-button--icon {
      &:focus,
      &:active {
        color: $primary-100;
        background: transparent;
      }
    }
  }

  .igx-grid-summary__item {
    font-size: 0.8rem;
  }

  .operationsContainer {
    display: flex;
  }

  .caseSensitiveButton {
    margin-left: 8px;
  }

  .caseSensitiveIcon {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem;
  }

  .searchButtons {
    margin-left: 4px;
  }

    // button styling
  .toggle-button {
    margin-left: 8px;
    text-transform: capitalize;
    & span {
      padding: 0 4px;
    }
    & .header-icon {
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
    }
  }

  .relative-container {
    position: relative;
  }

  //resize handle
  .igx-grid__th-resize-line {
    background: $secondary-500;
  }
}

.toggle-content {
  display: flex;
  width: 240px;
  height: 300px;
  position: absolute;
  z-index: 3;
  background-color: white;
  overflow: auto;
  box-shadow: igx-elevation($elevations, 4);
}

.toggle-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
}

.dd-title {
  color: $primary-600;
  margin:0;
  padding: 16px;
  font-size: 14px;
}

.dd-list {
  list-style-type: none;
}

.dd-list__item {
  display: flex;
  align-items: center;
  padding: 16px;

  ::ng-deep {
    @include igx-checkbox($checkbox-theme);
  }

  &:hover {
    background: lighten($primary-100, 10);
  }
}


.pin-icon {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
}

.animated-fan {
  width: 28px;
  height: 28px;
  animation: spin-fade 1.5s cubic-bezier(0.21, 1.07, 0.99, 1) forwards;
}

@keyframes spin-fade {
  0% {
    opacity: 0;
    tranform: rotate(0);
  }

  100% {
    opacity: 1;
    transform: rotate(270deg);
  }
}

@keyframes slide-fade {
  0% {
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}