:host ::ng-deep {
    .fintech-icons {
        display: flex;
        align-items: center;
        igx-icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
            margin-left: 4px;
        }
    }
    .igx-grid__grouparea {
        max-height: 100%;
        height: auto;
    }
    .changePos,
    .changeNeg,
    .strongPositive,
    .strongNegative {
        color: #fff !important;
        .igx-grid__td-text {
            padding: 2px 5px;
        }
    }
    .positive {
        color: #4eb862 !important;
    }
    .positive.strongPositive {
        .igx-grid__td-text {
            color: rgba(78, 184, 98, 0.8) !important;
        }
    }
    .negative {
        color: #d31642 !important;
    }
    .negative.strongNegative {
        .igx-grid__td-text {
            color: rgba(255, 19, 74, 0.8) !important;
        }
    }
    // NORMAL
    // positive
    .changePos {
        .igx-grid__td-text {
            background: #335e3b;
        }
    }
    .changePos1 {
        background: #335e3b;
        color: #fff;
    }
    .changePos2 {
        .igx-grid__td-text {
            border-right: 4px solid #335e3b;
            padding-right: 4px;
        }
    }
    // negative
    .changeNeg {
        .igx-grid__td-text {
            background: #7a1c32;
        }
    }
    .changeNeg1 {
        color: #fff;
        background: #7a1c32;
    }
    .changeNeg2 {
        .igx-grid__td-text {
            border-right: 4px solid #7a1c32;
            padding-right: 4px;
        }
    }
    // selected
    .igx-grid__td--selected.changePos1,
    .igx-grid__td--selected.changePos2,
    .igx-grid__td--selected.changePos {
        background-color: #335e3b !important;
        .fintech-icons,
        .igx-grid__td-text {
            color: #fff;
        }
    }
    .igx-grid__td--selected.changeNeg1,
    .igx-grid__td--selected.changeNeg2,
    .igx-grid__td--selected.changeNeg {
        background-color: #7a1c32 !important;
        .fintech-icons,
        .igx-grid__td-text {
            color: #fff;
        }
    }
    // STRONG
    // positive
    .strongPositive {
        .igx-grid__td-text {
            background: #459a55;
        }
    }
    .strongPositive1 {
        background: #459a55;
        color: #fff;
    }
    .strongPositive2 {
        .igx-grid__td-text {
            border-right: 4px solid #459a55;
            padding-right: 4px;
        }
    }
    // negative
    .strongNegative {
        .igx-grid__td-text {
            background: #d31642;
            color: #fff;
        }
    }
    .strongNegative1 {
        background: #d31642;
        color: #fff;
    }
    .strongNegative2 {
        .igx-grid__td-text {
            border-right: 4px solid #d31642;
            padding-right: 4px;
        }
    }
    // selected
    .igx-grid__td--selected.strongPositive1,
    .igx-grid__td--selected.strongPositive2,
    .igx-grid__td--selected.strongPositive {
        background-color: #459a55 !important;
        .fintech-icons,
        .igx-grid__td-text {
            color: #fff;
        }
    }
    .igx-grid__td--selected.strongNegative1,
    .igx-grid__td--selected.strongNegative2,
    .igx-grid__td--selected.strongNegative {
        background-color: #d31642 !important;
        .fintech-icons,
        .igx-grid__td-text {
            color: #fff;
        }
    }
    .controls-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .switches {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0%;
        min-width: 500px;
        padding-right: 20px;
        font-size: 0.9rem;
        margin-bottom: -20px;
    }
    .control-item {
        padding-right: 20px;
    }
    .igx-slider,
    .igx-slider--disabled {
        height: 24px;
    }
    .fintech-slider {
        width: 40%;
        min-width: 145px;
    }
    .fintech-play-controls {
        width: 45%;
        min-width: 500px;
        margin-top: 20px;
    }
    .sample-toolbar {
        height: 20px;
        font-size: 0.8rem;
        line-height: 20px;
    }
    .fin-dark-theme {
        .fintech-slider,
        .sample-toolbar {
            color: rgba(255, 255, 255, 0.87);
        }
    }
    .igx-grid__outlet span,
    .igx-excel-filter span,
    .igx-excel-filter header,
    .igx-excel-filter input {
        font-size: 0.8125rem;
    }
    
    igx-grid-cell {
        .igx-button--icon {
            width: 2rem;
            height: 2rem;
        }
    }
    
}

.grid__wrapper {
    padding: 5px 15px;
    height: 95%;
}

// Custom Dark Theme

// Import the theme utilities first
@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($default-palette);

@import './themes/_mixins';

@include scrollbar-love();

$green-palette: igx-palette($primary: #09f,$secondary: #72da67, $surface: #333);

:host {
  ::ng-deep {

    @include scrollbar-love();

    .fin-dark-theme {
      @include igx-dark-theme($green-palette);
      @include scrollbar-love(igx-color($green-palette, 'surface'));
	   background: #333;
	   
	   igx-grid-cell {
			.igx-button--icon {
				width: 2rem;
				height: 2rem;
			}
		}
		
       ::-moz-placeholder {
       opacity: 1;
       }
     }
    }
}

