<p>A customizable IgxHierarchicalGrid with predefined features<br />
    You can read more about configuring the igx-hierarchical- grid component in the
    <a href="https://github.com/IgniteUI/igniteui-angular/blob/master/projects/igniteui-angular/src/lib/hierarchical-grid/README.md"
        target="_blank">README</a> or the
    <a href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/hierarchical-grid.html"
        target="_blank">official documentation</a>.</p>
$(selectedFeatures)
<igx-hierarchical-grid #hGrid [data]="localData" [autoGenerate]="false" [height]="'600px'" [width]="'1000px'"
    $(gridFeatures)>
    <igx-column #artist field="Artist" [dataType]="'string'" $(columnFeatures)>
        $(artist-pin)
    </igx-column>
    <igx-column #grammy field="HasGrammyAward" [dataType]="'boolean'" $(columnFeatures)>
        $(grammy-pin)
    </igx-column>
    <igx-column #debut field="Debut" [dataType]="'number'" $(columnFeatures)></igx-column>
    <igx-column #nominations field="GrammyNominations" [dataType]="'number'" $(columnFeatures)>
        $(nominations-pin)
    </igx-column>
    <igx-column #awards field="GrammyAwards" [dataType]="'number'">
        $(awards-pin)
    </igx-column>
    <igx-row-island [key]="'Albums'" [autoGenerate]="false" $(rowIslandFeatures)>
        <igx-column #album field="Album" [dataType]="'string'" $(columnFeatures)>
            $(album-pin)
        </igx-column>
        <igx-column #launch field="Launch Date" [dataType]="'date'" $(columnFeatures)>
            $(launch-pin)
        </igx-column>
        <igx-column #review field="Billboard Review" [dataType]="'number'" $(columnFeatures)></igx-column>
        <igx-column field="US Billboard 200" [dataType]="'number'" $(columnFeatures)></igx-column>
        <igx-row-island [key]="'Songs'" [autoGenerate]="false">
            <igx-column field="No."></igx-column>
            <igx-column field="Title"></igx-column>
            <igx-column field="Released"></igx-column>
            <igx-column field="Genre"></igx-column>
        </igx-row-island>
    </igx-row-island>
</igx-hierarchical-grid>
