name: Node.js CI
permissions:
  contents: read
  checks: write

on:
  push:
    branches:  [ master, vNext, '[0-9]+.[0-9]+.x' ]
  pull_request:
    branches: [ master, vNext, '[0-9]+.[0-9]+.x' ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v3 #set credentials for every repository on the computer --global, so `New command` CLI tests pass
      - run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3 # Inbuilt cache for npm and yarn packages installation
        with:
           node-version: ${{ matrix.node-version }}
           cache: 'yarn'
      - name: Install packages
        run: yarn --frozen-lockfile
      - name: Test
        run: |
          yarn config set scripts-prepend-node-path auto
          yarn test
      - name: Generate coverage
        if: matrix.node-version == '20.x'
        run: yarn coverage
      - name: Publish to coveralls.io
        if: matrix.node-version == '20.x'
        # coverallsapp/github-action@cfd0633edbd2411b532b808ba7a8b5e04f76d2c8 corresponds to v2.3.4
        uses: coverallsapp/github-action@cfd0633edbd2411b532b808ba7a8b5e04f76d2c8
        with:
            github-token: ${{ github.token }}
